<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MyCLabs\ACL</title>

        <link rel="stylesheet" href="{{ baseUrl }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/highlight.github.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header class="navbar navbar-default navbar-fixed-top">
            <a class="navbar-brand" href="{{ baseUrl }}/">
                MyCLabs\ACL
                <small class="hidden-xs hidden-sm">
                    Powerful and efficient access control library for your PHP application.
                </small>
            </a>
        </header>

        <main>
            <div class="container-fluid">
                <div class="row">

                    <nav id="sidebar" class="col-sm-3 col-lg-2" role="navigation">

                        <p class="text-muted">
                            Main documentation
                        </p>

                        <ul class="nav nav-pills nav-stacked">
                            <li class="{{ menu == 'introduction' ? 'active' }}">
                                <a href="{{ baseUrl }}/">
                                    Introduction
                                </a>
                            </li>
                            <li class="{{ menu == 'setup' ? 'active' }}">
                                <a href="{{ baseUrl }}/doc/setup.html">
                                    Setup
                                </a>
                            </li>
                            <li class="{{ menu == 'usage' ? 'active' }}">
                                <a href="{{ baseUrl }}/doc/usage.html">
                                    Usage
                                </a>
                            </li>
                            <li class="{{ menu == 'filtering' ? 'active' }}">
                                <a href="{{ baseUrl }}/doc/filtering-queries.html">
                                    Filtering queries
                                </a>
                            </li>
                        </ul>

                        <p class="text-muted">
                            Advanced topics
                        </p>

                        <ul class="nav nav-pills nav-stacked">
                            <li class="{{ menu == 'actions' ? 'active' }}">
                                <a href="{{ baseUrl }}/doc/actions.html">
                                    Actions
                                </a>
                            </li>
                            <li class="{{ menu == 'cascading' ? 'active' }}">
                                <a href="{{ baseUrl }}/doc/cascading.html">
                                    Authorization cascading
                                </a>
                            </li>
                            <li class="{{ menu == 'performances' ? 'active' }}">
                                <a href="{{ baseUrl }}/doc/performances.html">
                                    Performances
                                </a>
                            </li>
                        </ul>

                    </nav>

                    <section class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
                        {{ content|raw }}
                    </section>

                </div>
            </div>
        </main>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="http://yandex.st/highlightjs/7.5/highlight.min.js"></script>

        <script>
            $(function() {
                $("section>h1").wrap('<div class="page-header" />');
                $("section>p:first-child").addClass('lead');
                hljs.initHighlightingOnLoad();
            });
        </script>
    </body>
</html>
